.nav {
  @include section-color(white);

  a {
    color: white;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;

  background: black;

  &--transparent {
    background: transparent;
    padding: 3rem 0 0 0;
  }

  @include tablet {
    flex-direction: row;
  }

  &__empex {
    line-height: 1;
    font-size: 36px;
    text-transform: uppercase;
  }

  &__spacer {
    flex-grow: 1;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__link {
    flex-basis: 33%;

    @include tablet {
      flex-basis: auto;

      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
