<%= render SharedView, "nav.html", conn: @conn %>

<div class="body style-2018 talk">
  <div class="small-section">
    <h1><%= @talk.title %></h1>

    <%= render "_video_embed.html", talk: @talk %>

    <p><%= @talk.description %></p>
  </div>
</div>