<div class="speaker-summary">
  <h3>
    <%= link @speaker.name, to: speaker_path(@conn, :show, @speaker.slug) %>
  </h3>
  <h4>
    <%= SpeakerView.summary_data(@speaker) %>
  </h4>

  <div class="speaker__bio">
    <%= @speaker.bio %>
  </div>

  <br />
</div>