<%= render SharedView, "nav.html", conn: @conn %>

<div class="speaker">
  <h1><%= @speaker.name %></h1>
  <h4>
    <%= @speaker.company %>
    <%= if @speaker.twitter, do: " | #{@speaker.twitter}" %>
  </h4>

  <p><%= @speaker.bio %></p>

  <%= for talk <- @talks do %>
    <%= render TalkView, "_talk_summary.html", talk: talk %>
  <% end %>
</div>
